@using Entity.Concrete
@model List<Blog> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">

        @foreach (var item in Model)
        {
            <div class="item mb-5">
                <div class="media">
                    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" width="300" height="250" src="@item.ImagePath" alt="image">
                    <div class="media-body">
                        <h3 class="title mb-1"><a asp-controller="Blog" asp-action="Index" asp-route-id="@item.Id">@item.BlogHead</a></h3>
                        <div class="meta mb-1"><span class="date">@Math.Ceiling(@DateTime.Now.Subtract(@item.PublishedDate).TotalDays) gün önce</span><span class="time">@item.ReadTime</span><span class="comment"><a href="#">8 yorum</a></span></div>
                        <div class="intro">@Html.Raw(@item.BlogBody.Substring(0, 40))...</div>
                        <a class="more-link" asp-controller="Blog" asp-action="Index" asp-route-id="@item.Id">Okumaya devam et &rarr;</a>
                    </div><!--//media-body-->
                </div><!--//media-->
            </div><!--//item-->
            <hr />
        }
    </div>







        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Önceki<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded" href="#">Sonraki<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

   
</section>

