@model Entity.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<article class="about-section py-5">

    <div class="container">
        <h2 class="title mb-3" style="font-family: 'Century Gothic'">Hakkımda</h2>

        <p id="content"  style="font-family: 'Lucida Bright '">@Html.Raw(@Model.AboutMe)</p>

        <figure style="text-align:center"><img style="border-radius: 5%"  class="img-fluid" width="300" height="250"src="@Model.FirstImagePath" alt="image"></figure>


        <h5 class="mt-5" style="font-family: 'Century Gothic'">Blog Hakkında</h5>
        <p style="font-family: 'Lucida Bright '">@Model.AboutTheBlog</p>
        <h5 class="mt-5" style="font-family: 'Century Gothic'">Yeteneklerim</h5>
        <p style="font-family: 'Lucida Bright '">@Model.MySkillsAndExperience</p>
        <h5 class="mt-5" style="font-family: 'Century Gothic'">Başka Neler Yapıyorum?</h5>
        <p style="font-family: 'Lucida Bright '">@Model.SideTodos</p>

        <figure><a href="https://made4dev.com"><img class="img-fluid" src="@Model.SecondImagePath" alt="image"></a></figure>


    </div>




</article><!--//about-section-->